<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Birthday App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="main">
      <h1>Welcome!</h1>
      <h2>What is your name?</h2>
      <form action="/form" method="post">
        <input type="text" name="name">
      <h2>When is your birthday?</h2>
      <label for="day">Day:
        <input type="text" name="day">
      </label>
      <label for="month">Month:
        <select name="month">
          <option value="january">january</option>
          <option value="february">february</option>
          <option value="march">march</option>
          <option value="april">april</option>
          <option value="may">may</option>
          <option value="june">june</option>
          <option value="july">july</option>
          <option value="august">august</option>
          <option value="september">september</option>
          <option value="october">october</option>
          <option value="november">november</option>
          <option value="december">december</option>
        </select>
      </label><br>
        <input type="submit" name="" value="submit">
      </form>
    </div>
  </body>
</html>
