<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Birthday App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="main">
      <h1>Welcome!</h1>
      <h2>What is your name?</h2>
      <form action="/form" method="post">
        <input type="text" name="name">
        <input type="submit" name="" value="submit">
      </form>
    </div>
  </body>
</html>
