<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>There are <%=@date.days_until_birthday%> days until your birthday!</h1>
  </body>
</html>
