body {
    width: 100% ;
    height: 100%;
    color: black;
    background-color: cyan;
}

.main {
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.submit {
  padding: 30px;
}

.name {
  width: 200px;
  height: 20px;
}

.day {
  width: 20px;
  height: 20px;
}
